<!-- <div class="section">

@for (p of products; track $index) {
    <h2>{{p.title}}</h2>
    <p>{{p.description}}</p>
    <p>Precio: {{p.price}}</p>
    <p>Descuento: {{p.discountPrice}}</p>
    <p>Stock: {{p.stock}}</p>
    <p>Desactivado: {{p.disabled}}</p>
    <h3>Categoría</h3>
    <p>{{p.category?.title}}</p>
    <p>{{p.category?.description}}</p>
    <h3>Imágenes del producto</h3>
    @for (img of p.imageProduct; track $index) {
      <img [src]="img.imageUrl" alt="Imagen del producto" width="100px">
  }
    <h3>Evaluaciones</h3>

    @for (a of p.assessments; track $index) {

      <p>{{a.title}}</p>
      <p>{{a.description}}</p>
      <p>Fecha: {{a.date}}</p>
      <p>Desactivado: {{a.disabled}}</p>
      <h4>Usuario</h4>
      <p>{{a.user.username}}</p>
      <p>{{a.user.email}}</p>
      <h4>Imágenes de la evaluación</h4>
      @for (img of a.imageAssessment; track $index) {
        <img [src]="img.imageUrl" alt="Imagen de la evaluación" width="100px">
      }
  }

} -->

<app-section-video></app-section-video>
<app-slider></app-slider>
