@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "primeicons/primeicons.css";
@import "../../../../../src/styles.scss";

:host ::ng-deep {
  .product-item {
    padding-top: 120px;
    .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: 0.3rem;
      text-align: center;
      padding: 2rem 0;
    }

    .product-image {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .p-ripple{
    margin: 0px 60px;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 13px 20px;
    &:hover {
      background-color: #555;
    }

    svg{
      width: 18px;
      height: 18px;
    }
  }

}
