<footer>
  <div class="footer-container">
    <div class="footer-section">
      <img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1716223468/logo/ezyshop-completo.png" alt="Logo" class="logo">
    </div>
    <div class="footer-section">
      <p>Todos los derechos reservados &copy; <a href="https://github.com/domiidp04" target="_blank">Domingo Dominguez Peinado</a></p>
    </div>
    <div class="footer-section">
      <img src="../../../assets/visa.svg" alt="Tarjeta visa">
      <img src="../../../assets/mastercard.svg" alt="Tarjeta Mastercard">
      <img src="../../../assets/paypal.svg" alt="Tarjeta Paypal">
    </div>
  </div>
</footer>

