<header>
  <a href="/"><app-logo></app-logo></a>
  <nav class="lista">
    <p-menubar [model]="items" class="ul"></p-menubar>
  </nav>

  <div class="icons">
    <i
      class="pi pi-user"
      (click)="op.toggle($event)"
      style="cursor: pointer"
    ></i>
    <i
      class="pi pi-shopping-cart"
      (click)="switchCarrito()"
      style="cursor: pointer"
    ></i>
  </div>
</header>

<!-- Panel de Usuario / Perfil -->
<p-overlayPanel #op class="op">
  <a [routerLink]="['/profile']">Ver perfil</a>
  <a [routerLink]="['/my-orders']">Mis pedidos</a>
  <a>Cerrar sesión</a>
</p-overlayPanel>

<!-- Panel de Carrito -->
<p-overlayPanel #op2 class="op2"></p-overlayPanel>

<p-sidebar [(visible)]="isCarrito" position="right">
  <div class="header">
    <h3>Carrito</h3>
    <hr />
  </div>
  <div class="products">
    <p>lor</p>

  </div>
  <div class="checking">
    <hr />
    <div class="checkout">
      <p>Total:</p>
      <p>110$</p>
    </div>
    <button>Comprar ahora</button>
  </div>
</p-sidebar>
