@import "primeicons/primeicons.css";
@import "../../../assets/variables.scss";

header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  background-color: $color-fondo;

  .icons {
    display: flex;
    gap: 15px;
  }

  ::ng-deep .ul .p-menuitem-link {
    margin-right: 15px;
  }


}
