<div class="grid">
  <div class="item">
    <a href="/"><img src="../../../../assets/section-video.jpg" alt="Imagen 1"></a>
    <p>Lo mas vendido</p>
  </div>
  <div class="item">
    <a href="/"><img src="../../../../assets/section-video.jpg" alt="Imagen 1"></a>
    <p>Camisetas basicas</p>
  </div>
  <div class="item">
    <a href="/"><img src="../../../../assets/section-video.jpg" alt="Imagen 1"></a>
    <p>bolsos</p>
  </div>
  <div class="item wide">
    <a href="/"><img src="../../../../assets/section-video.jpg" alt="Imagen 1"></a>
    <p>Pantalones</p>
  </div>
  <div class="item">
    <a href="/"><img src="../../../../assets/section-video.jpg" alt="Imagen 1"></a>
    <p>Chaquetas</p>
  </div>
  <div class="item">
    <a href="/"><img src="../../../../assets/section-video.jpg" alt="Imagen 1"></a>
    <p>Accesorios</p>
  </div>
  <div class="item wide">
    <a href="/"><img src="../../../../assets/section-video.jpg" alt="Imagen 1"></a>
    <p>Zapatos</p>
  </div>
</div>
