<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto flex flex-wrap">
    <div class="flex w-full mb-20 flex-wrap">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">Nuestros Productos</h1>
      <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Descubre nuestra amplia gama de productos de alta calidad.</p>
    </div>
    <div class="flex flex-wrap md:-m-2 -m-1">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <a [routerLink]="['/']"><img class="w-full object-cover h-full object-center block p-3 bg-white rounded-xl" src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/vendido.png" alt="Lo más vendido"></a>
          <p>Lo más vendido</p>
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <a [routerLink]="['/']"><img class="w-full object-cover h-full object-center block p-3 bg-white rounded-xl" src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715360938/grid/cascos.pngs" alt="Cascos"></a>
          <p>Cascos</p>
        </div>
        <div class="md:p-2 p-1 w-full">
          <a [routerLink]="['/']"><img class="w-full h-full object-cover object-center block p-3 bg-white rounded-xl" src="https://res.cloudinary.com/dpfmihznr/image/upload/c_crop,g_auto,h_360,w_600/grid/raton.jpg" alt="Ratón"></a>
          <p>Ratón</p>
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <a [routerLink]="['/']"><img class="w-full h-full object-cover object-center block p-3 bg-white rounded-xl" src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/teclado1.png" alt="Teclado"></a>
          <p>Teclado</p>
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <a [routerLink]="['/']"><img class="w-full object-cover h-full object-center block p-3 bg-white rounded-xl" src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/monitor.png" alt="Monitor"></a>
          <p>Monitor</p>
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <a [routerLink]="['/']"><img class="w-full object-cover h-full object-center block p-3 bg-white rounded-xl" src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/portatil.png" alt="Portátil"></a>
          <p>Portátil</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <div class="grid">
  <div class="item">
    <a [routerLink]="['/']"><img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/vendido.png" alt="Imagen 1"></a>
    <p>Lo mas vendido</p>
  </div>
  <div class="item">
    <a [routerLink]="['/']"><img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/cascos.png" alt="Imagen 1"></a>
    <p>Cascos</p>
  </div>
  <div class="item">
    <a [routerLink]="['/']"><img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/raton.png" alt="Imagen 1"></a>
    <p>Raton</p>
  </div>
  <div class="item wide">
    <a [routerLink]="['/']"><img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/teclado.png" alt="Imagen 1"></a>
    <p>Teclado</p>
  </div>
  <div class="item">
    <a [routerLink]="['/']"><img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/monitor.png" alt="Imagen 1"></a>
    <p>Monitor</p>
  </div>
  <div class="item">
    <a [routerLink]="['/']"><img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/portatil.png" alt="Imagen 1"></a>
    <p>Portatil</p>
  </div>
  <div class="item wide">
    <a [routerLink]="['/']"><img src="https://res.cloudinary.com/dpfmihznr/image/upload/v1715359800/grid/torre.png" alt="Imagen 1"></a>
    <p>Torres</p>
  </div>
</div> -->
