<div class="banner">
  <div class="section">
    <img src="../../../../assets/devolucion.svg" alt="Icono 1">
    <h3>Cambios y devoluciones</h3>
    <p>En un plazo de 30 días naturales desde la fecha de la compra del producto.</p>
  </div>
  <div class="section">
    <img src="../../../../assets/recogida.svg" alt="Icono 2">
    <h3>Recogida en tienda</h3>
    <p>No tenemos envios, solo recogida en nuestra tienda. Se paga el envio como gastos de gestion.</p>
  </div>
  <div class="section">
    <img src="../../../../assets/pago.svg" alt="Icono 4">
    <h3>Pago seguro</h3>
    <p>Todos tus pagos se realizan de forma segura gracias al certificado SSL.</p>
  </div>
</div>
