<!-- <section class="section">
  <div class="left">
    <app-images-product [images]="images"></app-images-product>
  </div>

  <div class="right">
    <app-board-product [product]="product"></app-board-product>
  </div>
</section> -->

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      @if (product?.imageProducts?.length > 0) {
      <a [routerLink]="['/product', product.id]">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          [src]="product?.imageProducts[0]?.imageUrl"
        />
      </a>
      }@else {
      <a [routerLink]="['/product', product?.id]">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/420x260"
        />
      </a>
      }

      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          EZYSHOP
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ product?.title }}
        </h1>
        <p class="leading-relaxed">{{ product?.description }}</p>
        <div
          class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5"
        >
          <p>Disponible: {{ product?.stock }}</p>
        </div>
        <div class="flex justify-between">
          <span class="title-font font-medium text-2xl text-gray-900"
            >@if (product?.discountPrice != null) {
            <p>
              <del>{{ product?.price }} $</del>
            </p>
            <p>{{ product?.discountPrice }} $</p>
            } @else {
            <p>{{ product?.price }} $</p>
            }</span
          >
          <button
            (click)="anadirACesta()"
            class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
            >
            <p class="pi pi-shopping-bag"></p>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
