body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  padding-top: 20%;
  height: 100vh;

  h1 {
      font-size: 80px;
      color: #555;
  }

  p {
      color: #555;
  }

}
