@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

section{
  padding-top: 93px;
  height: calc(100vh - 68px);

  .tr{
    cursor: pointer;
  }
}
