section {
  width: 300px; // Ajusta esto según tus necesidades
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  h3 {
    margin: 0;
    font-size: 24px; // Ajusta esto según tus necesidades
    font-weight: bold;
    color: #333; // Ajusta esto según tus necesidades
  }

  p {
    font-size: 16px; // Ajusta esto según tus necesidades
    color: #666; // Ajusta esto según tus necesidades

    &.price {
      color: #999; // Ajusta esto según tus necesidades
      text-decoration: line-through;
    }

    &.discount-price {
      color: #f00; // Ajusta esto según tus necesidades
    }
  }

  label {
    display: block;
    margin-top: 10px; // Ajusta esto según tus necesidades

    input[type="number"] {
      margin-top: 5px; // Ajusta esto según tus necesidades
    }
  }

  button {
    display: block;
    margin-top: 20px; // Ajusta esto según tus necesidades
    padding: 10px;
    background-color: #4CAF50; // Ajusta esto según tus necesidades
    color: #fff; // Ajusta esto según tus necesidades
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #45a049; // Ajusta esto según tus necesidades
    }
  }
}
