@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

section{

  .tamano img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .left{
    justify-content: left;
  }

}
