// Variables de colores
$color-fondo: #EFEEEB;
$color-texto: #222222; // Blanco

// Variables de fuentes
$fuente-principal: 'inherit', sans-serif;

//Variables para el padding superior en el header
$padding-top:65px;
