.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ajusta esto según tus necesidades
  background-color: #f5f5f5; // Ajusta esto según tus necesidades
  transform: none;

  .card {
    max-width: 900px; // Ajusta esto según tus necesidades
    width: 100%;
    border-radius: 10px; // Ajusta esto según tus necesidades
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Ajusta esto según tus necesidades
    transform: none;

    p-galleria {
      transform: none;
      .grid{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px; // Ajusta esto según tus necesidades

        img {
          max-width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}

:host ::ng-deep .p-galleria-thumbnail-item{
  overflow: hidden;

}
